<!DOCTYPE html>
<html>

<head>

    <title>Disease Predictor</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>AI Disease Predictor</h1>

    <p>
        Enter symptoms separated by commas
    </p>

    <input
            type="text"
            id="symptoms"
            placeholder="fever,cough,headache"
    >

    <br><br>

    <button onclick="predictDisease()">
        Predict Disease
    </button>

    <div id="result"></div>

</div>

<script>

    async function predictDisease() {

        let symptoms = document.getElementById('symptoms').value;

        let formData = new FormData();

        formData.append('symptoms', symptoms);

        let response = await fetch('/predict-disease', {

            method: 'POST',

            body: formData

        });

        let data = await response.json();

        document.getElementById('result').innerHTML = `

            <h2>Prediction Result</h2>

            <p><b>Disease:</b> ${data.disease}</p>

        `;
    }

</script>

</body>

</html>